body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('crop.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4mm;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%; /* adjusted width for better spacing */
    margin: 0 auto;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}

input, select {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #444;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #f7f7f7;
    border: 1px solid #493d3d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 1000px;
    margin: 10px 0;
    width: 100%;
}

.card img {
    width: 33%; /* Adjusted width for three cards */
    object-fit: cover;
}

.card-content {
    padding: 20px;
    width: 67%; /* Adjusted width for three cards */
}

.card-title {
    font-size: 1.5em;
    color: #4CAF50;
    margin: 0;
}

.card-description {
    font-size: 1em;
    color: #555;
}
