<!DOCTYPE html>
<html>
  <head>
    <title>Crop Suggestion</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="hero">
      <h1>Crop Suggestion</h1>
      <p>Enter the following details to get a suggested crop:</p>
      <div class="form-container">
        <form action="/predict" method="POST">
          <label for="Nitrogen">Nitrogen(%) :</label>
          <input
            type="number"
            step="0.01"
            min="0"
            max="140"
            id="Nitrogen"
            name="Nitrogen"
          /><br /><br />

          <label for="Phosporus">Phosphorus(%) :</label>
          <input
            type="number"
            step="0.01"
            min="0"
            max="145"
            id="Phosporus"
            name="Phosporus"
          /><br /><br />

          <label for="Potassium">Potassium(%) :</label>
          <input
            type="number"
            step="0.01"
            min="0"
            max="210"
            id="Potassium"
            name="Potassium"
          /><br /><br />

          <label for="Soil_moisture">Soil Moisture :</label>
          <input
            type="number"
            step="1"
            min="0"
            max="1100"
            id="Soil_moisture"
            name="Soil_moisture"
          /><br /><br />

          <label for="Temperature">Temperature Reading:</label>
          <input
            type="number"
            step="0.1"
            min="-20"
            max="60"
            id="Temperature"
            name="Temperature"
          /><br /><br />

          <label for="Humidity" class="form-label">Humidity(%) :</label>
          <input
            type="number"
            step="1"
            min="0"
            max="100"
            class="form-control"
            id="Humidity"
            name="Humidity"
            required
          /><br /><br />

          <label for="Ph">PH :</label>
          <input
            type="number"
            step="0.01"
            min="0"
            max="14"
            id="Ph"
            name="Ph"
          /><br /><br />

          <label for="Rainfall">Rainfall(mm) :</label>
          <input
            type="number"
            step="1"
            min="0"
            max="500"
            id="Rainfall"
            name="Rainfall"
          /><br /><br />

          <button type="submit">Get Suggested Crop</button>
        </form>
      </div>

      <!-- Result Cards -->
      <div class="result">
        <div class="card">
          <img
            src="{% if result_image1 %}{{ result_image1 }}{% endif %}"
            alt="Crop Image 1"
          />
          <div class="card-content">
            <h2 class="card-title">
              {% if result1 %} {{ result1 }} {% else %} No Crop Suggested {%
              endif %}
            </h2>
            <p class="card-description">
              {% if description1 %} {{ description1 }} {% else %} Please provide
              valid inputs to get a crop suggestion. {% endif %}
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="{% if result_image2 %}{{ result_image2 }}{% endif %}"
            alt="Crop Image 2"
          />
          <div class="card-content">
            <h2 class="card-title">
              {% if result2 %} {{ result2 }} {% else %} No Crop Suggested {%
              endif %}
            </h2>
            <p class="card-description">
              {% if description2 %} {{ description2 }} {% else %} Please provide
              valid inputs to get a crop suggestion. {% endif %}
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="{% if result_image3 %}{{ result_image3 }}{% endif %}"
            alt="Crop Image 3"
          />
          <div class="card-content">
            <h2 class="card-title">
              {% if result3 %} {{ result3 }} {% else %} No Crop Suggested {%
              endif %}
            </h2>
            <p class="card-description">
              {% if description3 %} {{ description3 }} {% else %} Please provide
              valid inputs to get a crop suggestion. {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
